.container1
{
    /* background-color: aliceblue; */
    color: rgb(211, 70, 93);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    /* margin-top: 1rem; */
    /* padding-top: 1rem; */
    background-color: rgb(70, 69, 69);
}
.container
{
    /* background-color: aliceblue; */
    color: rgb(211, 70, 93);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    /* margin-top: 1rem; */
    /* padding-top: 1rem; */
    /* background-color: rgb(56, 54, 54); */
}

